img {
	width: 15%;
	height: 15%;
	/*padding: 2.5%;*/
}

body {
	font-family: helvetica;
	text-align: center;
	margin: 0px;
	font-size: 100%;
}

table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

td {
	width: 50%;
}

/*bruh*/