#logoLarge {
	height: 15%;
	display: inline-block;
}

#docHeader {
	/* display: inline-block; */
	position: relative;
	font-size: 5vw;
	bottom: 4.5vh;
}

#top-left {
	display: inline-block;
	height: 15%;
	text-align: center;
}

.invisRow {
	visibility: hidden;
}

.listTheme {
	font-family: "Verdana";
	text-align: center;
	margin: 0;
	background-color: #222831;
	color: #eeeeee;
	font-size: 0;
	margin:0 auto;
}

#mainTable {
	display: block;
	color: #393e46;
	font-size: 4vh;
	position: absolute;
	bottom: 0;
}

#advert {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 4px solid #fce38a;
}

th {
	font-size: 125%;
}

td {
	width: 50vw;
	font-size: 150%;
	padding: 0;
	margin: 0;
}

tr:nth-child(even) {
    background-color: #393e46;
}

tr:nth-child(odd) {
    background-color: #00adb5;
}

.left-section {
	display: inline-block;
	position: relative;
	width: 60vw;
	height: 100vh;
	/* left: -8px; */
	vertical-align: top;
}

.right-section {
	display: inline-block;
	position: relative;
	width: 40vw;
	height: 99vh;
	font-size: 2vw;
}

.top-left-corner {
	position: absolute;
	top: 0;
	left: 0;
}

.center {
	text-align: center;
}