#logoLarge {
	width: 7.5vw;
	/* margin-top: -45px; */
	vertical-align: middle;
	/* position: absolute;
	top: 0px;
	left: 0px; */
}

#docHeader {
	display: inline-block;
	font-size: 4.5vw;
}

.listTheme {
	font-family: "Verdana";
	text-align: center;
	margin: 0;
	background-color: #222831;
	color: #eeeeee;
	font-size: 0;
	margin:0 auto;
}

#mainTable {
	display: block;
	font-size: 3vh;
	color: #393e46;
}

#advert {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 4px solid #fce38a;
}

th {
	font-size: 155%;
}

td {
	width: 50vw;
	font-size: 150%;
}

tr:nth-child(even) {
    background-color: #393e46;
}

tr:nth-child(odd) {
    background-color: #00adb5;
}

.left-section {
	display: inline-block;
	position: relative;
	width: 60vw;
	height: 100vh;
	/* left: -8px; */
	vertical-align: top;
}

.right-section {
	display: inline-block;
	position: relative;
	width: 40vw;
	height: 99vh;
	font-size: 2vw;
}

.top-left-corner {
	position: absolute;
	top: 0;
	left: 0;
}

.center {
	text-align: center;
}

/* .center {
	 margin: auto;
	 width: auto;
	 text-align: center;
	 padding: 0px;
	 position: relative;
} */

/* .right {
	float: right;
	height: 100%;
	padding: 0px;
	display: inline-block;
}

.left {
	float: left;
	height: 100%;
	padding: 0px;
	display: inline-block;
}

.vertical-center {
	 margin: 0;
	  position: absolute;
	  top: 50%;
	  -ms-transform: translateY(-50%);
	  transform: translateY(-50%);
} */

/*bruh*/