#background {
	background-color: #222831;
}

.formTheme {
	width: 300px;
	margin: auto;
	margin-top: 2.5vh;
	padding: 15px;
	position: relative;
	background-color: #00adb5;
	border-radius: 7.5px;
}

.infoPanel {
	width: 350px;
	margin: 0 auto;
	margin-top: 2.5vh;
	padding: 15px;
	position: relative;
	background-color: #00adb5;
    border-radius: 7.5px;
    text-align: center;
}

.smallButton {
    width: 80px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid #222831;
}

h1, h2 {
    color: #fff;
}

h3, p {
    color: #393e46;
}

td {
    width: 33%;
}

#fullName {
    font-size: 18px;
}

.noBgForm {
	color: white;
}

.navbar-nav > li {
	margin-left: 5vw;
	margin-left: 5vw;
	/* padding-right: 20%; */
}

.middle {
	margin-top: 2.5vh;
	text-align: center;
}

.left {
    float: left;
    text-align: left;
}

.leftSpacing {
	padding-left: 10px;
}

.rightSpacing {
	margin-right: 10px;
}

.bottomSpacing {
    margin-bottom: 10px;
}

#logoSmall {
	height: 45px;
}

@media (min-width: 35vw){
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
}

