form {
	width: 300px;
	margin: auto;
	margin-top: 5%;
	padding: 15px;
	position: relative;
	background-color: #00adb5;
	border-radius: 15px;
}

#formTheme {
	background-color: #222831;
}

#headingTheme {
	/* color: #eeeeee; */
	text-align: center;
	padding: 5%;
}

.navSpacing {
	padding-left: 75px;
	padding-right: 75px;
}

#logo {
	height: 45px;
}