#background {
	background-color: #222831;
}

.formTheme {
	width: 300px;
	margin: auto;
	margin-top: 2.5vh;
	padding: 15px;
	position: relative;
	background-color: #00adb5;
	border-radius: 7.5px;
}

h1 {
	color: #fff;
}

.noBgForm {
	color: white;
}

.navbar-nav > li {
	margin-left: 5vw;
	margin-left: 5vw;
	/* padding-right: 20%; */
}

.middle {
	margin-top: 2.5vh;
	text-align: center;
}

.leftSpacing {
	padding-left: 10px;
}

.rightSpacing {
	padding-right: 10px;
}

#logoSmall {
	height: 45px;
}

@media (min-width: 35vw){
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
}

