#logoLarge {
	width: auto;
	height: 100px;
	/* margin-top: -45px; */
	vertical-align: middle;
	position: absolute;
	top: 0px;
	left: 0px;
}

/* #docHeader {
	position: absolute;
	left: 25vw;
} */

.listTheme {
	font-family: helvetica;
	text-align: center;
	margin: 0px;
	font-size: 225%;
	background-color: #222831;
	color: #eeeeee;
}

#mainTable {
	width: 50%;
	display: block;
}

td {
	width: 50vw;
	font-size: 150%;
	color: #eeeeee;
}

tr:nth-child(even) {
    background-color: #393e46;
}

tr:nth-child(odd) {
    background-color: #00adb5;
}

.center {
	 margin: auto;
	 width: auto;
	 text-align: center;
	 padding: 0px;
	 position: relative;
}

.right {
	float: right;
	height: 100%;
	padding: 0px;
	display: inline-block;
}

.left {
	float: left;
	height: 100%;
	padding: 0px;
	display: inline-block;
}

.vertical-center {
	 margin: 0;
	  position: absolute;
	  top: 50%;
	  -ms-transform: translateY(-50%);
	  transform: translateY(-50%);
}

/*bruh*/